
/*Cambio color del fondo  */
body {
    background-color: #ffffff;
}

.menu  ul{ 
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu ul li a:hover {
    background-color: black;
    color: white;
}


main {  
    font-style: italic;
    font-family: cursive;
    font-size: 40px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin: 5% auto 5% auto ;
    width: 100%;
}

.contenedorImagenes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.imgHeader {
    width: 400px;
    height: auto;
}



#inicio {
    text-align: center;
    font-size: 50px;
    font-style: italic; 
}
#nombre {
    width: 300px;
    height: 30px;
}
#enviar {
    width: 100px;
    height: 50px;
    font-family:Verdana;
    font-size: 20px;
}
#tarjetadecredito {
    width:500px;
    height: 300px;    
    background: linear-gradient(#004ba0,#1976d2);
    color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Courier New';
    margin: 5% auto 5% auto
    
}
#tarjeta {
    border:none;
    background-color: rgba(255, 255, 255, 0.5) ;
    padding: 7px 10px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}
#validar, #cambiarTarjeta {
    border:none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px 10px;
    font-size: 16px;
    color: #006db3;
    border-radius: 5px;
}
#mensajeChip {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
#validar:hover, #cambiarTarjeta:hover {
    background-color: #ffffff;
}

#tarjetaOculta {
    font-size: 34px;
}

.rojo {
    color: #ffffff;
}
.verde {
    color: #f1f8e9;
}

.oculto {
    display:none
}
/*Cambio cursor al pasar por los botones  */
button {
    cursor: pointer;
}
footer {
    border-top: 2px solid black ;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 20px;

}
